# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*~

doc/*
build/*
autom4te.cache/*
Makefile.in
aclocal.m4
compile
configure
missing
install-sh
tn_config.h.in
depcomp
ylwrap


TAGS
core
core.*
vgcore.*
*.gcov
